* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

.body {
  margin: 0px;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 400px;
  height: 735px;
  padding: 55px;
  padding-top: 0.5%;
  padding-bottom: 0.3%;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  background: white;
}

.login form {
  font-size: 20px;
}

.needs-validation {
  margin-bottom: 10%;
}

.img-capitala-europeana {
  width: 55%;
  margin-bottom: 30%;
  margin-left: 24%;
}

.img-ness {
  width: 45%;
  margin-top: 30%;
  margin-left: 25%;
}
.text {
  display: flex;
  font-size: 75%;
  top: 50%;
  margin-right: 5%;
  margin-bottom: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: center;
}

.form-control {
  width: 80%;
  margin-left: 9%;
  height: 2rem;
  border-radius: 8px;
  text-indent: 4%;
}
.invalid-feedback {
  margin-top: 10px;
  font-size: 60%;
  color: rgb(255, 84, 16);
}

.new-here {
  font-weight: 300;
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-left: 25%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.form-label {
  font-weight: bold;
  font-size: 60%;
}
.psw-svg {
  margin-left: 11%;
  position: relative;
  top: 1px;
}
.svg-mail {
  margin-left: 11%;
  position: relative;
  top: 3px;
}
button {
  color: white;
  font-size: 65%;
  margin-left: 20%;
  width: 55%;
  margin-top: 20%;
  height: 30px;
  border-radius: 500px;
  background-color: rgb(132, 0, 255);
  border-color: rgb(96, 12, 175);
}
button:disabled {
  background-color: rgb(148, 148, 148);
  border-color: rgb(35, 35, 35);
}

button:not(:disabled) {
  background-color: rgb(132, 0, 255);
  border-color: rgb(96, 12, 175);
}

button:not(:disabled):hover {
  background-color: rgb(97, 3, 186);
  color: white;
  cursor: pointer;
}

.material-icons {
  position: relative;
  right: 30px;
  top: 5px;
}

.show-password {
  cursor: pointer;
}

// NEW ADDED

mat-form-field {
  border: 1px solid rgb(0, 0, 0); /* add border */
  border-radius: 5px; /* round the corners */
  height: 2rem;
  width: 15rem;
}

.Forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-label {
  font-size: 10px;
  padding-left: 5%;
}

.email-wrapper {
  margin-bottom: 1.5rem;
}

.input-name {
  margin-bottom: 0.5rem;
  margin-left: 5px;
  margin-top: 5px;
}

// input {
//   margin-left: 0.5rem;
//   margin-top: 1.8%;
//   font-size: 75%;
//   width: 93%;
// }
.label1 {
  display: flex;
}
.password-icon {
  position: absolute;
  right: 0.5rem;
  transform: translateY(-60%);
}
