.scroll-container {
  height: 800px;
  overflow: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 50px 5px;
  width: 100%;

  &__event-card {
    width: 330px;
    height: 300px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

    &__container {
      position: relative;
      &__image {
        border-radius: 8px 8px 0px 0px;
        width: 100%;
        height: 210px;
      }
      &__text {
        margin-left: 15px;
        line-height: 0.7;

        &__p1 {
          font-size: 11px;
          color: #8102ae;
          font-weight: bold;
          margin-top: 20px;
        }
        &__p2 {
          font-weight: 700;
          font-size: 18px;
          color: #271d04;
        }
        &__p3 {
          font-size: 12px;
          color: #4c4a47;
        }
      }

      &__buttons-login {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        display: flex;
        justify-content: space-between;

        &__button-edit {
          border-radius: 50%;
          &__icon-edit {
            margin-top: 5px;
          }
        }

        &__button-delete {
          border-radius: 50%;

          &__icon-delete {
            margin-top: 5px;
          }
        }
      }

      &__buttons-no-login {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &__button-favorite {
          border-radius: 50%;

          &__icon-favorite {
            width: 25px;
            height: 20px;
            margin-top: 8px;
          }
        }
      }
    }
  }
}
