<form *ngIf="!changePassword">
  <div class="my-account-title">My Account</div>
  <hr />
  <div class="details-label">Details</div>

  <div class="content">
    <div class="content__fields">
      <mat-form-field class="content__fields__mat-form-field-my-account">
        <div class="content__fields__mat-form-field-my-account__div">
          <label class="content__fields__mat-form-field-my-account__div__label">
            Username
          </label>
          <input
            class="content__fields__mat-form-field-my-account__div__input-text"
            matInput
            type="text"
          />
        </div>
      </mat-form-field>

      <mat-form-field class="content__fields__mat-form-field-my-account">
        <div class="content__fields__mat-form-field-my-account__div">
          <label class="content__fields__mat-form-field-my-account__div__label">
            Email
          </label>
          <input
            class="content__fields__mat-form-field-my-account__div__input-text"
            matInput
            type="text"
          />
        </div>
      </mat-form-field>

      <mat-form-field class="content__fields__mat-form-field-my-account">
        <div class="content__fields__mat-form-field-my-account__div">
          <label class="content__fields__mat-form-field-my-account__div__label">
            Password
          </label>
          <input
            class="content__fields__mat-form-field-my-account__div__input-text"
            matInput
            type="password"
          />
          <p
            (click)="changePasswordClick()"
            class="content__fields__mat-form-field-my-account__div__password"
          >
            Change Password
          </p>
        </div>
      </mat-form-field>
    </div>

    <div>
      <hr />
      <div class="content__buttons">
        <button mat-button class="content__buttons__cancel">CANCEL</button>
        <button mat-button class="content__buttons__save-changes">
          SAVE CHANGES
        </button>
      </div>
    </div>
  </div>
</form>

<form *ngIf="changePassword">
  <div class="my-account-title">My Account</div>
  <hr />
  <div class="details-label">Change Password</div>

  <div class="content">
    <div class="content__fields">
      <mat-form-field class="content__fields__mat-form-field-my-account">
        <div class="content__fields__mat-form-field-my-account__div">
          <label class="content__fields__mat-form-field-my-account__div__label">
            Old Password
          </label>
          <input
            class="content__fields__mat-form-field-my-account__div__input-text"
            matInput
            type="text"
          />
        </div>
      </mat-form-field>

      <mat-form-field class="content__fields__mat-form-field-my-account">
        <div class="content__fields__mat-form-field-my-account__div">
          <label class="content__fields__mat-form-field-my-account__div__label">
            New Password
          </label>
          <input
            class="content__fields__mat-form-field-my-account__div__input-text"
            matInput
            type="text"
          />
        </div>
      </mat-form-field>

      <mat-form-field class="content__fields__mat-form-field-my-account">
        <div class="content__fields__mat-form-field-my-account__div">
          <label class="content__fields__mat-form-field-my-account__div__label">
            Repeat New Password
          </label>
          <input
            class="content__fields__mat-form-field-my-account__div__input-text"
            matInput
            type="password"
          />
        </div>
      </mat-form-field>
    </div>

    <div>
      <hr />
      <div class="content__buttons">
        <button mat-button class="content__buttons__cancel">CANCEL</button>
        <button mat-button class="content__buttons__save-changes">
          SAVE CHANGES
        </button>
      </div>
    </div>
  </div>
</form>
