<div class="container">
  <div class="login">
    <form class="form">
      <img
        src="../assets/img/logo-timisoara-2023.png"
        class="img-capitala-europeana"
        alt="capitala-europeana"
      />

      <div><p class="text">Recover Account</p></div>
      <div>
        <mat-form-field>
          <div class="div-label">
            <label class="label"
              >Please enter your email to search for your account.</label
            >
          </div>
          <input class="input-name" matInput type="email" id="email" required />
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button type="submit">RECOVER ACCOUNT</button>
        <p class="new-here">
          Have another account?
          <a class="link" routerLink="/login" href="#">Login here.</a>
        </p>
      </div>
      <img
        src="../../../assets/img/logo-ness.png"
        alt="ness"
        class="img-ness"
      />
    </form>
  </div>
</div>
