<div class="home-page">
  <div class="left">
    <mat-form-field class="mat-form-field">
      <mat-icon svgIcon="calendar-icon" class="input-calendar"></mat-icon>
      <mat-icon
        matSuffix
        (click)="picker.open()"
        svgIcon="calendar-icon"
      ></mat-icon>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Select Date "
        (dateChange)="sendSearchDateCards()"
      />

      <mat-datepicker
        [(ngModel)]="selectedDate"
        ngDefaultControl
        #picker
        class="date-picker"
      ></mat-datepicker>
    </mat-form-field>

    <div>
      <div class="tags-title"><h2>Related Tags</h2></div>
      <div class="tags-buttons">
        <div *ngFor="let button of buttons.buttons; let i = index">
          <button
            [ngStyle]="button.selected ? { 'background-color': '#ffd248' } : {}"
            class="button-tag"
            (click)="onSelectedTagButton(i)"
          >
            {{ button.icon }} {{ button.name }}
          </button>
        </div>
      </div>
    </div>
    <div>
      <div class="event-type-title"><h2>Type of Event</h2></div>
      <div class="options-box">
        <div class="options-box-v2">
          <div class="event-type"><p>Free</p></div>
          <div class="event-checkbox">
            <input class="event-checkbox-input" type="checkbox" />
          </div>
        </div>
        <div class="options-box-v2">
          <div class="event-type"><p>With ticket</p></div>
          <div class="event-checkbox">
            <input class="event-checkbox-input" type="checkbox" />
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="event-status-title"><h2>Event Status</h2></div>
      <div class="options-box">
        <div class="options-box-v2">
          <div class="event-type"><p>Available</p></div>
          <div class="event-checkbox">
            <input class="event-checkbox-input" type="checkbox" />
          </div>
        </div>
        <div class="options-box-v2">
          <div class="event-type"><p>Draft</p></div>
          <div class="event-checkbox">
            <input class="event-checkbox-input" type="checkbox" />
          </div>
        </div>
        <div class="options-box-v2">
          <div class="event-type"><p>Unavailable</p></div>
          <div class="event-checkbox">
            <input class="event-checkbox-input" type="checkbox" />
          </div>
        </div>
      </div>
    </div>
    <div class="logo-ness-academy">
      <img src="./assets/img/logo-ness.png" />
    </div>
  </div>
  <div class="right">
    <div class="content-navbar">
      <mat-button-toggle-group class="toggle-button">
        <mat-button-toggle
          value="my-event"
          (click)="onSelectedCardsView('my-events')"
        >
          <mat-icon svgIcon="my-events"></mat-icon>
          My Events</mat-button-toggle
        >
        <mat-button-toggle
          value="all-events"
          (click)="onSelectedCardsView('all-events')"
        >
          <mat-icon svgIcon="calendar-icon"></mat-icon>
          All Events</mat-button-toggle
        >
      </mat-button-toggle-group>
      <button class="button-add-event" (click)="addNew()">
        <mat-icon class="add-icon" svgIcon="add"></mat-icon>Add New Event
      </button>
    </div>
    <div class="events-content">
      <app-event-cards [selectedCards]="selectedCards"></app-event-cards>
    </div>
  </div>
</div>
