<div class="home-page">
  <div class="left">
    <div class="date"><input type="date" /></div>
    <div class="tags">
      <div class="tags-title"><h3>Tags</h3></div>
      <div class="tags-buttons">
        <div class="button1"><button>Button1</button></div>
        <div class="button2"><button>Button2</button></div>
        <div class="button3"><button>Button3</button></div>
        <div class="button4"><button>Button4</button></div>
      </div>
    </div>
    <div>
      <div class="event-type-title"><h3>Event Type</h3></div>
      <div class="options-box">
        <div class="options-box-v2">
          <div class="event-type"><h3>Event1</h3></div>
          <div class="event-checkbox"><input type="checkbox" /></div>
        </div>
        <div class="options-box-v2">
          <div class="event-type"><h3>Event2</h3></div>
          <div class="event-checkbox"><input type="checkbox" /></div>
        </div>
      </div>
    </div>
    <div>
      <div class="event-status-title"><h3>Event Status</h3></div>
      <div class="options-box">
        <div class="options-box-v2">
          <div class="event-type"><h3>EventStatus1</h3></div>
          <div class="event-checkbox"><input type="checkbox" /></div>
        </div>
        <div class="options-box-v2">
          <div class="event-type"><h3>EventStatus2</h3></div>
          <div class="event-checkbox"><input type="checkbox" /></div>
        </div>
        <div class="options-box-v2">
          <div class="event-type"><h3>EventStatus3</h3></div>
          <div class="event-checkbox"><input type="checkbox" /></div>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="content-navbar">
      <button>MyEvents</button>
      <button>AddEvent</button>
    </div>
    <div class="events-content"><app-event-cards></app-event-cards></div>
  </div>
</div>
