<div class="home-page">
  <div class="left">
    <div><input class="calendar" placeholder="Select Date " /></div>
    <div class="tags">
      <div class="tags-title"><h3>Related Tags</h3></div>
      <div class="tags-buttons">
        <div *ngFor="let button of buttons.buttons">
          <button class="button-tag">{{ button.name }}</button>
        </div>
      </div>
    </div>
    <div>
      <div class="event-type-title"><h3>Type of Event</h3></div>
      <div class="options-box">
        <div class="options-box-v2">
          <div class="event-type"><h3>Free</h3></div>
          <div class="event-checkbox">
            <input class="event-checkbox-input" type="checkbox" />
          </div>
        </div>
        <div class="options-box-v2">
          <div class="event-type"><h3>With ticket</h3></div>
          <div class="event-checkbox">
            <input class="event-checkbox-input" type="checkbox" />
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="event-status-title"><h3>Event Status</h3></div>
      <div class="options-box">
        <div class="options-box-v2">
          <div class="event-type"><h3>Available</h3></div>
          <div class="event-checkbox">
            <input class="event-checkbox-input" type="checkbox" />
          </div>
        </div>
        <div class="options-box-v2">
          <div class="event-type"><h3>Draft</h3></div>
          <div class="event-checkbox">
            <input class="event-checkbox-input" type="checkbox" />
          </div>
        </div>
        <div class="options-box-v2">
          <div class="event-type"><h3>Unavailable</h3></div>
          <div class="event-checkbox">
            <input class="event-checkbox-input" type="checkbox" />
          </div>
        </div>
      </div>
    </div>
    <div class="logo-ness-academy">
      <img src="./assets/img/logo_Ness.png" />
    </div>
  </div>
  <div class="right">
    <div class="content-navbar">
      <button>MyEvents</button>
      <button>AddEvent</button>
    </div>
    <div class="events-content"><app-event-cards></app-event-cards></div>
  </div>
</div>
