<div
  class="container"
  style="
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('../assets/img/background_login.jpg');
  "
>
  <div class="login">
    <form class="needs-validation" [formGroup]="createAccountForm">
      <img
        src="../assets/img/logo-timisoara-2023.png"
        class="img-capitala-europeana"
        alt="capitala-europeana"
      />

      <p class="text">Create Account</p>

      <div class="form-group was-validated">
        <label class="form-label" for="email">
          <svg
            width="15"
            class="svg-mail"
            height="15"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <image
              xlink:href="../assets/icons/mail.svg"
              width="25"
              height="25"
            />
          </svg>
          Email</label
        >
        <input
          formControlName="email"
          class="form-control"
          type="email"
          id="email"
          required
          (input)="hasInputChanged('email')"
        />
        <mat-error
          class="invalid-feedback"
          *ngIf="createAccountForm.get('email').hasError('email')"
        >
          The email is not in the correct format.
        </mat-error>
      </div>
      <div class="form-group was-validated">
        <label class="form-label" for="user">
          <svg
            class="svg-user"
            xmlns="http://www.w3.org/2000/svg"
            width="15"
            height="15"
            viewBox="0 0  25 25"
            fill="none"
          >
            <image
              xlink:href="../assets/icons/user.svg"
              width="25"
              height="25"
            /></svg
          >Username</label
        >
        <input
          formControlName="username"
          class="form-control"
          type="text"
          id="user"
          required
          (input)="hasInputChanged('username')"
        />
        <mat-error
          class="invalid-feedback"
          *ngIf="createAccountForm.get('username').hasError('pattern')"
        >
          The username is not in the correct format.
        </mat-error>
      </div>
      <div class="form-group was-validated">
        <label class="form-label" for="password">
          <svg
            class="psw-svg"
            width="14"
            height="15"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <image
              xlink:href="../assets/icons/locker password.svg"
              width="24"
              height="25"
            />
          </svg>
          Password</label
        >
        <input
          formControlName="password"
          class="form-control"
          type="{{ showPassword ? 'text' : 'password' }}"
          name="password"
          [(ngModel)]="password"
          (input)="hasInputChanged('password')"
        />
        <svg
          width="20"
          height="20"
          class="material-icons show-password"
          (click)="toggleShowPassword()"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <image
            [attr.xlink:href]="
              showPassword ? showPasswordPath.show : showPasswordPath.hide
            "
            width="24"
            height="24"
          />
        </svg>
      </div>
      <div class="wrapper">
        <div class="content">
          <p class="password-requirement-title">Password must contain:</p>
          <ul class="requirement-list">
            <li>
              <img [src]="passwordRequirementBulletCheck[0][0]" alt="circle" />
              <span class="password-requirements-text"
                >At least 8 characters</span
              >
            </li>
            <li>
              <img [src]="passwordRequirementBulletCheck[1][0]" alt="circle" />
              <span class="password-requirements-text"
                >At least one small letter</span
              >
            </li>
            <li>
              <img [src]="passwordRequirementBulletCheck[2][0]" alt="circle" />
              <span class="password-requirements-text"
                >At least one capital letter</span
              >
            </li>
            <li>
              <img [src]="passwordRequirementBulletCheck[3][0]" alt="circle" />
              <span class="password-requirements-text"
                >At least one number or symbol</span
              >
            </li>
          </ul>
        </div>
      </div>
      <button
        type="button"
        class="btn-login btn btn-primary btn-rounded"
        [disabled]="!buttonEnabled"
      >
        CREATE ACCOUNT
      </button>
      <p class="new-here">
        New here?
        <a
          routerLink="/create-account"
          href="#"
          style="text-decoration: none; cursor: pointer"
          >Create account.</a
        >
      </p>
      <img
        src="../../../assets/img/logo-ness.png"
        alt="ness"
        class="img-ness"
      />
    </form>
  </div>
</div>
