<section [formGroup]="form">
   <div class="lbl">
    
    <label [attr.for]="field.key"><img [src]="field.iconSrc">{{ field.label }}</label>
   </div>
   
  
    <section [ngSwitch]="field.controlType">
      <input
        *ngSwitchCase="'textbox'"
        [formControlName]="field.key"
        [id]="field.key"
        [type]="field.type"
      />
  
      <select
        *ngSwitchCase="'dropdown'"
        [id]="field.key"
        [formControlName]="field.key"
      >
        <option *ngFor="let opt of field.options" [value]="opt.key">
          {{ opt.value }}
        </option>
      </select>
  
      <input
        *ngSwitchCase="'checkbox'"
        type="checkbox"
        [id]="field.key"
        [name]="field.key"
        [formControlName]="field.key"
      />
    </section>
  
     <div class="errorMessage">
      <a  *ngIf="hasFieldError()">{{ field.label }} is required</a>
     </div>
  
  </section>
  