.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  gap: 185px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__message-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__circle-icon {
      width: 100px;
      height: 100px;
    }
  }
}

.action-div {
  &__action {
    display: flex;
    justify-content: end;
    margin-top: -15px;
    &__done-button {
      width: 180px;
      height: 58px;
      background: #941abf;
      border-radius: 66px;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      color: #ffffff;
      margin-right: 15px;
    }
  }
}

.hr {
  width: 700px;
  margin-top: 20px;
}
