<p class="text">Login</p>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="form-group was-validated">
    <img src="../assets/images/user.png" class="img-user" alt="user" />
    <label class="form-label" for="username">Username</label>
    <!-- <input
      class="form-control"
      type="email"
      id="email"
      formControlName="email"
      required
    /> -->
    <app-input [inputValue]="parentInput"></app-input>
    <div
      class="invalid-feedback"
      *ngIf="isFormSubmitted && form.get('email')?.invalid"
    >
      Incorrect username.
    </div>
  </div>
  <div class="form-group was-validated">
    <img src="../assets/images/password.jpg" class="img-password" alt="pwd" />
    <label class="form-label" for="password"> Password</label>
    <input
      class="form-control"
      type="password"
      id="password"
      formControlName="password"
      required
    />
    <div
      class="invalid-feedback"
      *ngIf="isFormSubmitted && form.get('password')?.invalid"
    >
      Incorrect password.
    </div>
  </div>

  <button type="submit" class="btn-login btn btn-primary btn-rounded">
    LOGIN
  </button>
  <p class="new-here">
    New here?
    <a routerLink="/create-account" style="text-decoration: none"
      >Create account.</a
    >
  </p>
  <img src="../assets/images/ness.png" alt="ness" class="img-ness" />
</form>
