<mat-toolbar class="toolbar">
  <div class="img-logo-timisoara-2023">
    <img src="./assets/img/logo-timisoara-2023.png" />
  </div>
  <div class="home-div">
    <mat-icon class="icon-home" svgIcon="home"></mat-icon>
    <div class="home">Home</div>
  </div>
  <div class="favorite-div">
    <mat-icon svgIcon="heart"></mat-icon>
    <div class="favorite" (click)="onFavoriteClick()">Favorite</div>
  </div>
  <div class="profile profile-div" (mouseenter)="mouseEnterProfile()">
    <mat-icon svgIcon="user"></mat-icon>
    <div>
      <div class="profile-text">Profile</div>
    </div>
  </div>
  <div *ngIf="!isAdmin" class="search-div">
    <mat-icon svgIcon="search"></mat-icon>
    <input
      type="text"
      matInput
      placeholder="Search for event..."
      class="input-search"
      [(ngModel)]="searchCards"
      (input)="sendSearchCards()"
    />
  </div>
  <div *ngIf="!isAdmin && !isConfirmed" class="login-div" (click)="login()">
    LOGIN
  </div>
  <div>
    <button
      *ngIf="!isAdmin && !isConfirmed"
      class="btn btn-primary"
      (click)="register()"
    >
      REGISTER
    </button>

    <!-- <div *ngIf="isAdmin">
      <mat-icon svgIcon="search"></mat-icon>
      <input
        type="text"
        matInput
        placeholder="Search for event..."
        class="input-search"
        [(ngModel)]="searchCards"
        (input)="sendSearchCards()"
      />
    </div> -->
  </div>
</mat-toolbar>
<div class="toolbar" (mouseleave)="mouseLeaveProfile()">
  <div class="button1" *ngIf="clickprofile && !isConfirmed" (click)="login()">
    Login
  </div>
  <div
    class="button2"
    *ngIf="clickprofile && !isConfirmed"
    (click)="register()"
  >
    Register
  </div>
  <div
    class="my-account"
    *ngIf="clickprofile && isConfirmed"
    (click)="openModal()"
  >
    My Account
  </div>
  <div
    class="button2-logout"
    *ngIf="clickprofile && isConfirmed"
    (click)="logout()"
  >
    Logout
  </div>
</div>
