.scroll-container {
  height: 51rem;
  overflow: auto;
  &__context {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    &__title {
      color: #941abf;
      font-family: "Lato";
      font-style: normal;
      font-size: 1.5em;
      font-weight: 600;
    }
    &__text {
      font-size: 1em;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 5% 0.4%;
  width: 100%;

  &__event-card {
    width: 21rem;
    height: 18.5rem;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    border: 0.1em solid black;

    &__container {
      position: relative;
      &__image {
        border-radius: 1em 1em 0em 0em;
        width: 100%;
        height: 13.5rem;
        &__haspassed {
          opacity: 0.3;
        }
      }
      &__text {
        margin-left: 3%;
        line-height: 0.7;

        &__p1 {
          font-size: 0.8rem;
          color: #8102ae;
          font-weight: bold;
          margin-top: 2%;
        }
        &__p2 {
          font-weight: 700;
          font-size: 1.2rem;
          color: #271d04;
        }
        &__p3 {
          font-size: 1em;
          color: #4c4a47;
        }
      }

      &__text2 {
        line-height: 0.4;
        &__p4 {
          font-size: 1em;
          color: #0696e7;
        }
      }

      &__buttons-login {
        position: absolute;
        top: 5%;
        left: 3%;
        right: 4%;
        display: flex;
        justify-content: space-between;

        &__button-edit {
          border-radius: 50%;
          &__icon-edit {
            margin-top: 20%;
          }
        }

        &__button-delete {
          border-radius: 50%;

          &__icon-delete {
            margin-top: 20%;
          }
        }
        &__button-draft {
          width: 20%;
          height: 30%;
        }
      }

      &__buttons-no-login {
        position: absolute;
        top: 5%;
        left: 3%;
        right: 4%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 55%;
        &__button-favorite {
          border-radius: 50%;

          &__icon-favorite {
            width: 1.8em;
            height: 1.6em;
            margin-top: 30%;
          }
        }
        &__button-free {
          &__icon-free {
            width: 8rem;
            height: 2rem;
          }
        }
      }

      &__buttons-user {
        position: absolute;
        top: 4%;
        right: 4%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10.5rem;
        &__icon-no-like {
          width: 2.5em;
          height: 4.5em;
        }
        &__icon-like {
          width: 2.5em;
          height: 4.5em;
        }
        &__icon-free {
          width: 8rem;
          height: 2rem;
        }
      }
    }
  }
}
.most-popular-div {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 5% 0.4%;
  width: 100%;
}
.most-popular-text {
  font-size: 170%;
  padding: 0.7%;
  font-family: "Lato", sans-serif;
}
.div-most-popular {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)),
    #ffffff;
  border-radius: 8px;
}

.favorite {
  &__no-login {
    &__context {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;

      &__title {
        color: #941abf;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-size: 1.5em;
        font-weight: 600;
      }
      &__text {
        font-size: 1em;
      }
    }
  }
}

// @media (min-width: 600px) {           
//   .scroll-container, .most-popular-div  {         // propietatiile se aplica doar daca dimensiunea respecta conditia din paranteza, adica latimea trebuie sa fie mai mare decat
//     background-color: blue;                     // 600 de px 
//   }
// }