<div class="scroll-container" *ngIf="!isFavoriteClicked">
  <div *ngIf="!isAdmin" class="div-most-popular">
    <div>
      <p class="most-popular-text">Most popular 🔥</p>
    </div>
    <div class="most-popular-div">
      <div class="grid-container__event-card" *ngFor="let event of mostPopular">
        <div class="grid-container__event-card__container">
          <img
            class="grid-container__event-card__container__image"
            [ngClass]="{
              'grid-container__event-card__container__image__haspassed':
                hasPassed(event)
            }"
            [src]="event.imageURL"
          />
          <div
            *ngIf="!isConfirmed || (isConfirmed && !isAdmin)"
            class="grid-container__event-card__container__buttons-no-login"
          >
            <mat-icon
              *ngIf="!event.isFavorite"
              class="grid-container__event-card__container__buttons-user__icon-no-like"
              svgIcon="no_like"
              (click)="!isConfirmed ? openModal() : addToFavorite(event)"
            ></mat-icon>
            <mat-icon
              *ngIf="event.isFavorite"
              class="grid-container__event-card__container__buttons-user__icon-like"
              svgIcon="liked"
              (click)="addToFavorite(event)"
            ></mat-icon>
          </div>

          <div class="grid-container__event-card__container__text">
            <p class="grid-container__event-card__container__text__p1">
              {{ event.date + " , ORA " + event.time }}
            </p>
            <p class="grid-container__event-card__container__text__p2">
              {{ event.title }}
            </p>
            <p class="grid-container__event-card__container__text__p3">
              {{ event.location }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="!isConfirmed" class="most-popular-text">Events you may like</p>
  <p *ngIf="isConfirmed && !isAdmin" class="most-popular-text">
    Best match for you
  </p>
  <div class="grid-container">
    <div
      class="grid-container__event-card"
      *ngFor="let event of searchEventsCards"
    >
      <div class="grid-container__event-card__container">
        <img
          class="grid-container__event-card__container__image"
          [ngClass]="{
            'grid-container__event-card__container__image__haspassed':
              hasPassed(event)
          }"
          [src]="event.imageURL"
        />
        <div class="grid-container__event-card__container__buttons-login">
          <button
            *ngIf="selectedCards === 'my-events' && isAdmin"
            class="grid-container__event-card__container__buttons-login__button-edit"
          >
            <mat-icon
              class="grid-container__event-card__container__buttons-login__button-edit__icon-edit"
              svgIcon="edit"
            ></mat-icon>
          </button>

          <mat-icon
            *ngIf="
              selectedCards === 'my-events' &&
              event.isDraft &&
              !hasPassed(event) &&
              isAdmin
            "
            class="grid-container__event-card__container__buttons-login__button-draft"
            svgIcon="draft"
          ></mat-icon>

          <button
            (click)="openDeleteModal()"
            *ngIf="selectedCards === 'my-events' && isAdmin"
            class="grid-container__event-card__container__buttons-login__button-delete"
          >
            <mat-icon
              class="grid-container__event-card__container__buttons-login__button-edit__icon-delete"
              svgIcon="trash"
            ></mat-icon>
          </button>
        </div>

        <div
          *ngIf="!isConfirmed"
          class="grid-container__event-card__container__buttons-no-login"
        >
          <div>
            <mat-icon
              *ngIf="event.isFree"
              class="grid-container__event-card__container__buttons-no-login__button-free__icon-free"
              svgIcon="free_tag"
            ></mat-icon>
          </div>
          <button
            (click)="openModal()"
            class="grid-container__event-card__container__buttons-no-login__button-favorite"
          >
            <mat-icon
              class="grid-container__event-card__container__buttons-no-login__button-favorite__icon-favorite"
              svgIcon="heart"
            ></mat-icon>
          </button>
        </div>

        <div
          *ngIf="isConfirmed && !isAdmin"
          class="grid-container__event-card__container__buttons-user"
        >
          <mat-icon
            *ngIf="event.isFree"
            class="grid-container__event-card__container__buttons-user__icon-free"
            svgIcon="free_tag"
          ></mat-icon>
          <mat-icon
            *ngIf="!event.isFavorite"
            class="grid-container__event-card__container__buttons-user__icon-no-like"
            svgIcon="no_like"
            (click)="addToFavorite(event)"
          ></mat-icon>
          <mat-icon
            *ngIf="event.isFavorite"
            class="grid-container__event-card__container__buttons-user__icon-like"
            svgIcon="liked"
            (click)="addToFavorite(event)"
          ></mat-icon>
        </div>

        <div
          class="grid-container__event-card__container__text"
          [ngClass]="{
            'grid-container__event-card__container__text2':
              selectedCards === 'all-events'
          }"
        >
          <p class="grid-container__event-card__container__text__p1">
            {{ event.date + " , ORA " + event.time }}
          </p>
          <p class="grid-container__event-card__container__text__p2">
            {{ event.title }}
          </p>
          <p class="grid-container__event-card__container__text__p3">
            {{ event.location }}
          </p>
          <p
            *ngIf="selectedCards === 'all-events' && isAdmin"
            class="grid-container__event-card__container__text__p4"
            [ngClass]="{
              'grid-container__event-card__container__text2__p4':
                selectedCards === 'all-events'
            }"
          >
            {{ "Added by " + event.author }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="myEvents.length === 0 && selectedCards === 'my-events'">
    <img class="scroll-container__image" src="../../assets/img/no_events.png" />
    <div class="scroll-container__context">
      <div class="scroll-container__context__title">{{ noEventsYet }}</div>
      <p class="scroll-container__context__text">{{ noEventsYetText }}</p>
    </div>
  </div>
</div>

<div class="favorite" *ngIf="isFavoriteClicked && !isConfirmed">
  <img class="favorite__no-login" src="../../assets/img/no_events.png" />
  <div class="favorite__no-login__context">
    <div class="favorite__no-login__context__title">{{ needToLogin }}</div>
    <p class="favorite__no-login__context__text">{{ needToLoginText }}</p>
  </div>
</div>

<p *ngIf="isFavoriteClicked && isConfirmed" class="most-popular-text">
  Favorites Events ❤️
</p>
<div class="grid-container" *ngIf="isFavoriteClicked && isConfirmed">
  <div class="grid-container__event-card" *ngFor="let event of favoriteEvents">
    <div class="grid-container__event-card__container">
      <img
        class="grid-container__event-card__container__image"
        [ngClass]="{
          'grid-container__event-card__container__image__haspassed':
            hasPassed(event)
        }"
        [src]="event.imageURL"
      />

      <div
        *ngIf="isConfirmed && !isAdmin"
        class="grid-container__event-card__container__buttons-user"
      >
        <mat-icon
          *ngIf="event.isFree"
          class="grid-container__event-card__container__buttons-user__icon-free"
          svgIcon="free_tag"
        ></mat-icon>
        <mat-icon
          *ngIf="!event.isFavorite"
          class="grid-container__event-card__container__buttons-user__icon-no-like"
          svgIcon="no_like"
          (click)="addToFavorite(event)"
        ></mat-icon>
        <mat-icon
          *ngIf="event.isFavorite"
          class="grid-container__event-card__container__buttons-user__icon-like"
          svgIcon="liked"
          (click)="addToFavorite(event)"
        ></mat-icon>
      </div>

      <div
        class="grid-container__event-card__container__text"
        [ngClass]="{
          'grid-container__event-card__container__text2':
            selectedCards === 'all-events'
        }"
      >
        <p class="grid-container__event-card__container__text__p1">
          {{ event.date + " , ORA " + event.time }}
        </p>
        <p class="grid-container__event-card__container__text__p2">
          {{ event.title }}
        </p>
        <p class="grid-container__event-card__container__text__p3">
          {{ event.location }}
        </p>
      </div>
    </div>
  </div>
</div>
